<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shier.shierbi.mapper.AiFrequencyOrderMapper">

    <resultMap id="BaseResultMap" type="com.shier.shierbi.model.entity.AiFrequencyOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="purchaseQuantity" column="purchaseQuantity" jdbcType="BIGINT"/>
            <result property="price" column="price" jdbcType="FLOAT"/>
            <result property="totalAmount" column="totalAmount" jdbcType="FLOAT"/>
            <result property="orderStatus" column="orderStatus" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,purchaseQuantity,
        price,totalAmount,orderStatus,
        createTime,updateTime,isDelete
    </sql>
</mapper>
